*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background-color: darkgrey;
}
ul {
  list-style: none;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.gold {
  color: gold;
}
.dimension {
  width: 342px;
  height: 513px;
}
h1 {
  margin-bottom: 10px;
  color: red;
  font-style: italic;
}
header {
  width: 100%;
  height: 100px;
  background-color: black
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  line-height: 100px;
}
#type,
#search {
  padding: 3px;
}

.films,
.series {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}
.cover {
  position: relative;
  width: 342px;
  height: 513px;
  margin: 20px;
  border: 1px solid;
  box-shadow: 5px 8px;
  cursor: pointer;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 342px;
  height: 513px;
  padding: 40px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid grey;
  cursor: pointer;
  overflow-y: auto;
}

.flag {
  width: 5%;
  vertical-align: middle;
}
